[submodule "MQTT-image-database-server"]
	path = MQTT-image-database-server
	url = https://github.com/just-dry-coding/MQTT-image-database-server.git
[submodule "image-management-server"]
	path = image-management-server
	url = https://github.com/just-dry-coding/image-management-server.git
[submodule "image_management_ui"]
	path = image_management_ui
	url = https://github.com/just-dry-coding/image_management_ui.git
